<h1>New Document..</h1>

<%= form_with model: @document do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% @document.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :summary %><br>
    <%= form.text_area :summary %>
    <% @document.errors.full_messages_for(:summary).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
