<h1><%= @document.title %></h1>

<p><%= @document.summary %></p>
<%= @document.digital.attached? %>
<%# <%= image_tag @document.digital, size: 100 %>

<ul>
  <li><%= link_to "Destroy", document_path(@document), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>
